In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from pydataset import data
import os
import env
import acquire 
import prepare

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier


import warnings
warnings.filterwarnings("ignore")

In [10]:
titan = acquire.get_titanic_data()
titan.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [11]:
titan = prepare.prep_titanic(titan)

In [12]:
titan.head()

,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_female,sex_male,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton,embark_town_Southhampton
0,0,3,male,1,0,7.2500,Southampton,0,0,1,0,0,1,0
1,1,1,female,1,0,71.2833,Cherbourg,0,1,0,1,0,0,0
2,1,3,female,0,0,7.9250,Southampton,1,1,0,0,0,1,0
3,1,1,female,1,0,53.1000,Southampton,0,1,0,0,0,1,0
4,0,3,male,0,0,8.0500,Southampton,1,0,1,0,0,1,0

In [13]:
titan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   survived                  891 non-null    int64
 1   pclass                    891 non-null    int64
 2   sex                       891 non-null    object
 3   sibsp                     891 non-null    int64
 4   parch                     891 non-null    int64
 5   fare                      891 non-null    float64
 6   embark_town               891 non-null    object
 7   alone                     891 non-null    int64
 8   sex_female                891 non-null    uint8
 9   sex_male                  891 non-null    uint8
 10  embark_town_Cherbourg     891 non-null    uint8
 11  embark_town_Queenstown    891 non-null    uint8
 12  embark_town_Southampton   891 non-null    uint8
 13  embark_town_Southhampton  891 non-null    uint8
dtypes: float64(1), int64(5), object(2), uint8(6)
memory usage: 67.9+ KB

In [14]:
titan.drop(['sex', 'embark_town'], axis=1, inplace=True)

In [15]:
titan.head(3)

,survived,pclass,sibsp,parch,fare,alone,sex_female,sex_male,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton,embark_town_Southhampton
0,0,3,1,0,7.2500,0,0,1,0,0,1,0
1,1,1,1,0,71.2833,0,1,0,1,0,0,0
2,1,3,0,0,7.9250,1,1,0,0,0,1,0

In [18]:
train, val, test = prepare.split_data(df=titan, target='survived')

In [19]:
train.shape, val.shape, test.shape

((498, 12), (214, 12), (179, 12))

In [20]:
X_train = train.drop(['survived'], axis=1)
y_train = train.survived

X_val = val.drop(['survived'], axis=1)
y_val = val.survived

X_test = test.drop(['survived'], axis=1)
y_test = test.survived

### Fit the Random Forest classifier to your training sample and transform (i.e. make predictions on the training sample) setting the random_state accordingly and setting min_samples_leaf = 1 and max_depth = 10.

1. Acquire
2. Explore
3. Prepare
4. Split
5. Trees on Trees on Trees
6. Model: fit the trees
7. Run Model: predict the stuff
8. Eval the Model: viz predictions, score actual vs predictions (y_train, y_pred)
9. Validate by using val datasets: make predictions, ^^^^
10. Eval the model again, check for overfitting.

In [33]:
# trees on trees on trees maker
rf = RandomForestClassifier(max_depth=10, min_samples_leaf=1, random_state=123)

In [34]:
# fit the trees
rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=10, random_state=123)

In [35]:
# Make predictios using X_train

y_pred = rf.predict(X_train)

### Evaluate your results using the model score, confusion matrix, and classification report.

In [41]:
print(rf.score(X_train, y_train))
print(rf.score(X_val, y_val))

0.9437751004016064
0.7757009345794392

In [38]:
# confusion matrix

confusion_matrix(y_train, y_pred)

array([[301,   6],
       [ 22, 169]])

In [43]:
# Classification Report

print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.98      0.96       307
           1       0.97      0.88      0.92       191

    accuracy                           0.94       498
   macro avg       0.95      0.93      0.94       498
weighted avg       0.94      0.94      0.94       498

### Print and clearly label the following: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.

In [50]:
# Baseline for most common target value. 
train['baseline'] = 0

In [51]:
# Baseline accuracy
accuracy_score(train.survived, train.baseline)

0.6164658634538153

In [53]:
# Model accuracy

rf.score(X_train, y_train)

0.9437751004016064

In [39]:
tn = 301
fp = 6
fn = 22
tp = 169

negative_rate = TN + FP

positive_rate = FN + TP

In [52]:
# Negative rate and Positive rate
neg_rate = tn + fp
pos_rate = fn + tp

neg_rate, pos_rate

(307, 191)

In [55]:
# Precision score

precision_score(y_train, y_pred)

0.9657142857142857

In [57]:
# Recall score

recall_score(y_train, y_pred)

0.8848167539267016

In [59]:
# Or just print out the Classification Report and get most of it

print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.98      0.96       307
           1       0.97      0.88      0.92       191

    accuracy                           0.94       498
   macro avg       0.95      0.93      0.94       498
weighted avg       0.94      0.94      0.94       498

### Run through steps increasing your min_samples_leaf and decreasing your max_depth.

In [78]:
for i in range(5,16):
    lilleaves_short_trees = RandomForestClassifier(max_depth=3, min_samples_leaf=i, random_state=123)
    lilleaves_short_trees.fit(X_train, y_train)
    train_acc = lilleaves_short_trees.score(X_train, y_train)
    val_acc = lilleaves_short_trees.score(X_val, y_val)
    print(f'Short trees of 3 with minimum leaf samples of {i}. Training Acc: {train_acc}. Validate Acc: {val_acc}')
    print('-------------------------------------------------------')
    print()

Short trees of 3 with minimum leaf samples of 5. Training Acc: 0.8192771084337349. Validate Acc: 0.7710280373831776
-------------------------------------------------------

Short trees of 3 with minimum leaf samples of 6. Training Acc: 0.8172690763052208. Validate Acc: 0.7710280373831776
-------------------------------------------------------

Short trees of 3 with minimum leaf samples of 7. Training Acc: 0.8172690763052208. Validate Acc: 0.7710280373831776
-------------------------------------------------------

Short trees of 3 with minimum leaf samples of 8. Training Acc: 0.8172690763052208. Validate Acc: 0.7710280373831776
-------------------------------------------------------

Short trees of 3 with minimum leaf samples of 9. Training Acc: 0.8172690763052208. Validate Acc: 0.7710280373831776
-------------------------------------------------------

Short trees of 3 with minimum leaf samples of 10. Training Acc: 0.8172690763052208. Validate Acc: 0.7710280373831776
-------------------------------------------------------

Short trees of 3 with minimum leaf samples of 11. Training Acc: 0.8172690763052208. Validate Acc: 0.7710280373831776
-------------------------------------------------------

Short trees of 3 with minimum leaf samples of 12. Training Acc: 0.8152610441767069. Validate Acc: 0.7663551401869159
-------------------------------------------------------

Short trees of 3 with minimum leaf samples of 13. Training Acc: 0.8152610441767069. Validate Acc: 0.7663551401869159
-------------------------------------------------------

Short trees of 3 with minimum leaf samples of 14. Training Acc: 0.8152610441767069. Validate Acc: 0.7663551401869159
-------------------------------------------------------

Short trees of 3 with minimum leaf samples of 15. Training Acc: 0.8132530120481928. Validate Acc: 0.7663551401869159
-------------------------------------------------------

In [75]:
lilleaves_short_trees = RandomForestClassifier(max_depth=3, min_samples_leaf=5, random_state=123,bootstrap=True)

In [76]:
lilleaves_short_trees.fit(X_train, y_train)

RandomForestClassifier(max_depth=3, min_samples_leaf=5, random_state=123)

In [77]:
print('Train Accuracy')
print(lilleaves_short_trees.score(X_train, y_train))
print('-------------\n')
print('Validate Accuracy')
print(lilleaves_short_trees.score(X_val, y_val))

Train Accuracy
0.8192771084337349
-------------

Validate Accuracy
0.7710280373831776

In [84]:
# Taller Trees with less leaves
for i in range(3,16):
    lilleaves_short_trees = RandomForestClassifier(max_depth=i, min_samples_leaf=2, random_state=123)
    lilleaves_short_trees.fit(X_train, y_train)
    train_acc = lilleaves_short_trees.score(X_train, y_train)
    val_acc = lilleaves_short_trees.score(X_val, y_val)
    print(f'Tall trees of {i} with minimum leaf samples of 2. Training Acc: {train_acc}. Validate Acc: {val_acc}')
    print('-------------------------------------------------------')
    print()

Tall trees of 3 with minimum leaf samples of 2. Training Acc: 0.8152610441767069. Validate Acc: 0.780373831775701
-------------------------------------------------------

Tall trees of 4 with minimum leaf samples of 2. Training Acc: 0.821285140562249. Validate Acc: 0.7850467289719626
-------------------------------------------------------

Tall trees of 5 with minimum leaf samples of 2. Training Acc: 0.8353413654618473. Validate Acc: 0.7897196261682243
-------------------------------------------------------

Tall trees of 6 with minimum leaf samples of 2. Training Acc: 0.8755020080321285. Validate Acc: 0.794392523364486
-------------------------------------------------------

Tall trees of 7 with minimum leaf samples of 2. Training Acc: 0.8795180722891566. Validate Acc: 0.7897196261682243
-------------------------------------------------------

Tall trees of 8 with minimum leaf samples of 2. Training Acc: 0.893574297188755. Validate Acc: 0.7990654205607477
-------------------------------------------------------

Tall trees of 9 with minimum leaf samples of 2. Training Acc: 0.8955823293172691. Validate Acc: 0.7990654205607477
-------------------------------------------------------

Tall trees of 10 with minimum leaf samples of 2. Training Acc: 0.8955823293172691. Validate Acc: 0.7897196261682243
-------------------------------------------------------

Tall trees of 11 with minimum leaf samples of 2. Training Acc: 0.893574297188755. Validate Acc: 0.7897196261682243
-------------------------------------------------------

Tall trees of 12 with minimum leaf samples of 2. Training Acc: 0.8955823293172691. Validate Acc: 0.7897196261682243
-------------------------------------------------------

Tall trees of 13 with minimum leaf samples of 2. Training Acc: 0.8955823293172691. Validate Acc: 0.794392523364486
-------------------------------------------------------

Tall trees of 14 with minimum leaf samples of 2. Training Acc: 0.893574297188755. Validate Acc: 0.794392523364486
-------------------------------------------------------

Tall trees of 15 with minimum leaf samples of 2. Training Acc: 0.8955823293172691. Validate Acc: 0.7990654205607477
-------------------------------------------------------

### What are the differences in the evaluation metrics? Which performs better on your in-sample data? Why?

#### After making a few models, which one has the best performance (or closest metrics) on both train and validate?