In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from pydataset import data
import env
import os
import acquire 
import prepare

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings("ignore")

## 1. Attendance Data

In [4]:
u = acquire.get_connection('tidy_data')

In [5]:
pd.read_sql('select * from attendance', u)

,Unnamed: 0,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P